.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	padding: 0;
	font-size: 14px;
	line-height: (16 / 14);
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

.button__img {
	margin: 0 4px 0 0;
}