$white:			#ffffff;
$black:			#222B55;
$blue:			#415DE8;
$light-blue:	#F5F8FF;
$pink:			#FF5762;
$grey:			#EBECF0;
$dark-grey:		#7B829A;
$main-bg:				#F4F5F6;

$base_font_family:      'Lato', 'Arial', sans-serif;
$title_font_family:     'Metropolis', 'Arial', sans-serif;

$tablet-width: 			768px;
$desktop-width: 		1024px;
$hd-desktop-width: 		1280px;
$wide-desktop-width: 	1440px;
